<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">LUXEO</a>
        <div class="collapse navbar-collase">
            <ul class="navbar-nav ml-auto">
                <li><a RouterLink="/accueil" class="nav-link">Accueil</a></li>
                <li><a RouterLink="/société" class="nav-link">SOCIETE</a></li>
                <li><a RouterLink="/produits" class="nav-link">PRODUITS</a></li>
                <li><a RouterLink="/documents" class="nav-link">DOCUMENTS</a></li>
                <li><a RouterLink="/contact" class="nav-link">CONTACT</a></li>
            </ul>
        </div>
    </div>
</nav>